body {
  font-family: monospace;
  box-sizing: border-box;
  font-size: 18px;
}

#result {
  /* width: 200px; */
  /* height: 50px; */
  box-sizing: border-box;
  border: solid 1px #505455;
  text-align: left;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  line-height: 20px;
}

.container {
  padding: 20px;
  margin: auto;
  width: 500px;
  box-sizing: border-box;
  border: solid 1px #505455;
  background-color: #3d4142;
  color: #ff595a;
  font-weight: 600;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

ul {
  list-style: none;
}

input {
  width: 50%;
  height: 30px;
  padding-left: 5px;
  font-family: monospace;
  outline: none;
  border: none;
  background: rgba(167, 175, 124);
  border-radius: 3px;
  box-sizing: border-box;
}
#date {
  /* width: 50%; */
  height: 38px;
  box-sizing: border-box;
}

label {
  padding: 10px;
  padding-left: 10px;
  display: block;
  width: 50%;
  box-sizing: border-box;
  /* box-sizing: border-box; */
}

.block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  box-sizing: border-box;
}

.radio-block {
  flex-direction: row;
  justify-content: space-between;
}

.radio {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.radio label {
  text-align: left;
  padding-top: 10px;
  display: inline;
  width: 20px;
}
.radio input {
  /* margin-left: 25px; */
  display: block;
  width: 20px;
  accent-color: #4f6d73;
}

/* Menu */
.title {
  position: relative;
  padding-top: 50px;
  padding-left: 0px;
  padding-bottom: 15px;
}
h1 {
  margin: auto;
  text-align: center;
}
a {
  background: url("plus.png") 10px 10px / 20px 20px;
  background-repeat: no-repeat;
  margin: 5px;
  /* margin-right: 35px; */
}

a:active {
  background: url("minus.png") 10px 10px / 20px 20px;
  background-repeat: no-repeat;
}

.hamburger-menu {
  position: absolute;
  top: 0px;
  left: 0px;
}
.hamburger-menu label {
  padding: 5px;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: -20px !important;
}
.menu__btn {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #ff595a;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -10px;
}
.menu__btn > span::after {
  content: "";
  top: 10px;
}
.menu__box {
  display: block;
  position: absolute;
  top: -20px;
  left: -2400%;
  width: 410px;
  height: 500px;
  margin: 0;
  padding: 70px 10px;
  padding-right: 10px;
  box-sizing: border-box;
  list-style: none;
  background-color: #3d4142;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 36px;
  /* padding-right: 15px; */
  color: #3d4142;
  background-color: rgba(207, 216, 220, 0.8);
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: rgba(141, 149, 151, 0.9);
}

@media (max-width: 768px) {
  body {
    background-color: #3d4142;
    /* height: 100vh */
  }

  .block {
    flex-direction: column;
  }
  label,
  input {
    width: 100%;
  }

  .container {
    width: 100vw;
    height: 100%;
  }
  .menu__box {
    width: 100vw;
    height: 100vh;
    left: -110vw;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .menu__btn {
    display: block;
  }
}
